{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 w-50">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto ms-5 d-flex align-items-center">
                <img class='rounded mx-auto d-block img-fluid img-thumbnail' src="/media/coins.jpg" alt ='Coins Pic' id="coins-pic"></a>
                <div class="col-md-10">
                    <div class="ms-5">
                        <p class="h1"><span class="gold-color">Gold</span> <span class="text-secondary">Silver</span> <span class="bronze-color">Bronze</span></p>
                        <p class="mb-2 h3">Rare collectable coins of different eras and origins.</p>
                        <a href="{% url 'coins' %}" class="explore-button btn btn-lg rounded-1 text-uppercase py-3 mt-5">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}