html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    height: calc(100vh - 164px);
    font-family: 'Tenali Ramakrishna';
}

main {
    flex: 1 0 auto;
  }

.explore-button {
    border: 1px solid silver;
    background: #A77509;
    color: black;
    width: 180px;
    height: 60px;
    font-size: 25px;
}

.explore-button:hover {
    background: brown;
}

.gold-color {
    color: #A77509;
}

.bronze-color {
    color: brown;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(231, 231, 231);
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #000000 !important;
    color: #fff !important;
}

.btn-file {
    font-size: 25px;
}

img.rounded {
    width: 400px;
    height: 200px;
}

.offset {
    margin-top: 180px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[type="text"],
input[type="hidden"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
select[name="condition"] {
    font-size: 21px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.login-btns {
    font-size: 20px;
}

#id_metal,
#id_era,
#id_condition,
input[type="file"] { 
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 0;
}

textarea[name="description"] {
    font-size: 21px !important;
}

#new-image {
    margin-left: 150px;
}

.add-btn:hover {
    background-color: white !important;
    color: black !important;
}

.add-to-cart {
    height: 44px;
    font-size: 20px;
}

#new-image {
    display: block;
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 6px 12px;
    z-index:2;
    background:white;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 3px;
}

input::placeholder {
    transform: translateY(5px);
}

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.cart-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#id_country {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 3px;
}

#div_id_image {
    margin-top: 50px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }