html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    height: calc(100vh - 164px);
    font-family: 'Tenali Ramakrishna';
}

main {
    flex: 1 0 auto;
  }

.explore-button {
    border: 1px solid silver;
    background: #A77509;
    color: black;
    width: 180px;
    height: 60px;
    font-size: 25px;
}

.explore-button:hover {
    background: brown;
}

.bronze-color {
    color: brown;
}

.gold-color {
    color: #A77509;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(231, 231, 231);
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #000000 !important;
    color: #fff !important;
}

.btn-file {
    font-size: 25px;
}

img.rounded {
    width: 400px;
    height: 200px;
}

.offset {
    margin-top: 180px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.login-btns {
    font-size: 20px;
}

textarea[name="description"],
#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2,
.input-flds,
.input-group-text { 
    font-size: 20px !important;
    padding-bottom: 0 !important;
}

label[for="id_login"],
label[for="id_password"],
label[for="id_email"],
label[for="id_email2"],
label[for="id_username"],
label[for="id_password1"],
label[for="id_password2"] {
    display: none;
}

#sort-selector {
    height: 30px;
    padding-top: 4px;
}

#id_remember {
    margin-top: 0;
}

#new-image {
    margin-left: 150px;
}

.add-btn:hover {
    background-color: white !important;
    color: black !important;
}

.add-to-cart {
    height: 44px;
    font-size: 20px;
}

#new-image {
    display: block;
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 6px 12px;
    z-index:2;
    background:white;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 3px;
}

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.cart-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#div_id_image {
    margin-top: 50px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }