html {
    height: 100%;
}

body {
    background-color: rgb(231, 231, 231);
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Tenali Ramakrishna';
}

input::placeholder {
    transform: translateY(5px);
    font-size: 25px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
