{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid offset">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if coins.image %}
                        <a href="{{ coins.image.url }}" target="_blank">
                            <img class="card-img-top rounded-1 img-fluid" src="{{ coins.image.url }}" alt="{{ coins.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ coins.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 h1">{{ coins.name }}</p>
                    <p class="h2 mb-0 text-left font-weight-bold mb-4">${{ coins.price }}</p>
                    <p class="lead mb-0 text-capitalize"><span class="fw-bold">Metal:</span> {{ coins.metal }}</p>
                    <p class="lead mb-0 text-capitalize"><span class="fw-bold">Condition:</span> {{ coins.condition }}</p>
                    <p class="lead mb-0"><span class="fw-bold">Origin:</span> {{ coins.origin }}</p>
                    <p class="lead mb-0"><span class="fw-bold">Year:</span> {{ coins.year }}</p>
                    {% if coins.metal %}
                    <p class="mb-0">
                        <a class="text-muted h5 text-decoration-none" href="{% url 'coins' %}?metal={{ coins.metal.name }}">
                            <i class="fas fa-tag me-2"></i>{{ coins.metal.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <div class="ml-3 h5 float-end">
                        <a class="text-decoration-none text-primary" href="{% url 'edit_coins' coins.id %}">Edit</a> | 
                        <a class="text-danger text-decoration-none" href="{% url 'delete_coins' coins.id %}">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 mx-auto">
        <hr class="w-100 m-auto mb-4">
        <p class="h4">{{ coins.description }}</p>
        <hr class="mb-4">
    </div>
    <div>
        {% if coins.quantity != 0 %}
            <form class="form" action="{% url 'add_to_cart' coins.id %}" method="POST">
                {% csrf_token %}
                <div class="container w-25 mt-4">
                    <div class="row text-center">
                        {% if coins.quantity > 1 %}
                        <div class="col-md-auto text-center form-group border border-dark bg-dark text-white rounded-1 p-0 add-to-cart">
                            <div class="input-group input-group-{{ coins.id }}">
                                <div class="input-group-prepend ">
                                    <button class="decrement-qty btn border-0 ps-1 pe-0 text-white decrement-qty_{{ coins.id }}" 
                                        data-item_id="{{ coins.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input text-center fw-bold rounded-1 w-auto px-0 border-0 bg-dark text-white id_qty_{{ coins.id }}" type="number"
                                    name="coin_quantity" value="1" min="1" max="99"
                                    data-item_id="{{ coins.id }}"
                                    id="id_qty_{{ coins.id }}"
                                    style="font-size: 20px; width: 50px">
                                <div class="input-group-append">
                                    <button class="increment-qty btn border-0 pe-1 ps-0 bg-dark text-white increment-qty_{{ coins.id }}"
                                        data-item_id="{{ coins.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <input type="number" name="coin_quantity" value="1" data-item_id="{{ coins.id }}" id="id_qty_{{ coins.id }}" class="d-none">
                            <p class="col-md-auto h3 text-center pt-1 fw-bold me-4"><i class="fa-regular fa-star me-1 gold-color"></i>Unique</p>
                        {% endif %}
                        <div class="col-md-auto">
                            <input type="submit" class="btn rounded-1 text-uppercase border border-dark pt-2 add-to-cart add-btn bg-dark text-light" value="Add to Cart">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'coins' %}" class="btn btn-outline-black mt-5 me-5 border-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase h4">Keep Exploring</span>
                    </a>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        {% else %}
            <p class="text-center h2">Sold out!</p>
            <div class="text-center">
                <a href="{% url 'coins' %}" class="btn btn-outline-black mt-5 me-5 border-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase h4">Keep Exploring</span>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'coins/includes/quantity_input_script.html' %}
{% endblock %}