{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid offset">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if coins.image %}
                        <a href="{{ coins.image.url }}" target="_blank">
                            <img class="card-img-top rounded-1 img-fluid" src="{{ coins.image.url }}" alt="{{ coins.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ coins.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 h1">{{ coins.name }}</p>
                    <p class="h2 mb-0 text-left font-weight-bold mb-4">${{ coins.price }}</p>
                    <p class="lead mb-0 text-capitalize"><span class="fw-bold">Metal:</span> {{ coins.metal }}</p>
                    <p class="lead mb-0 text-capitalize"><span class="fw-bold">Condition:</span> {{ coins.condition }}</p>
                    <p class="lead mb-0"><span class="fw-bold">Origin:</span> {{ coins.origin }}</p>
                    <p class="lead mb-0"><span class="fw-bold">Year:</span> {{ coins.year }}</p>
                    {% if coins.metal %}
                    <p class="mb-0">
                        <a class="text-muted h5 text-decoration-none" href="{% url 'coins' %}?metal={{ coins.metal.name }}">
                            <i class="fas fa-tag me-2"></i>{{ coins.metal.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <div class="ml-3 h5 float-end">
                        <a class="text-decoration-none" href="{% url 'edit_coins' coins.id %}">Edit</a> | 
                        <a class="text-danger text-decoration-none" href="{% url 'delete_coins' coins.id %}">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 mx-auto">
        <hr class="w-100 m-auto mb-3">
        <p class="mt-3 h4">{{ coins.description }}</p>
        <hr>
    </div>
    <div>
        <form class="form" action="{% url 'add_to_cart' coins.id %}" method="POST">
            {% csrf_token %}
            <div class="text-center">
                <div class="col-12">
                    <p class="mt-3 h4"><strong>Quantity:</strong></p>
                    <div class="form-group w-25 mx-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn border-0" 
                                    data-bs-item_id="{{ coins.id }}" id="decrement-qty_{{ coins.id }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input fw-bold rounded-1" type="number"
                                name="quantity" value="1" min="1" max="99"
                                data-bs-item_id="{{ coins.id }}"
                                id="id_qty_{{ coins.id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn border-0"
                                    data-bs-item_id="{{ coins.id }}" id="increment-qty_{{ coins.id }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col{% if s %}-12 mt-2{% endif %} mt-5">
                    <a href="{% url 'coins' %}" class="btn btn-outline-black rounded-1 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase h4">Keep Exploring</span>
                    </a>
                    <input type="submit" class="btn rounded-1 text-uppercase mt-5 ms-5" value="Add to Cart">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'coins/includes/quantity_input_script.html' %}
{% endblock %}